*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
C:\Users\Emile1\AndroidStudioProjects\FindAParty2\app\src\main\java\com\example\emile1\findaparty\Activity\InitializeApplication.java
/app/src/main/java/com/example/emile1/findaparty/Activity/InitializeApplication.java